/* Título principal */
section.pilar h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.container {
  width: 80%;
  position:relative;
  left: 7.5%;
}

/* Blocos de conteúdo */
.container_bloco,
.cointainer_half {
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Layout interno */
.container_bloco .text,
.cointainer_half {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Divisão em blocos */
.bloco,
.bloco_half {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}


/* Títulos internos */
.container_bloco h2,
.bloco_half h2 {
  font-size: 1.4rem;
  color: var(--Laranja_escuro);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.container_bloco h3,
.bloco_half h3 {
  font-size: 1rem;
  color: #555;
  margin: 1rem 0 0.5rem;
}

/* Listas */
.container_bloco ul,
.bloco_half ul {
  list-style: disc;
  margin-left: 1.5rem;
  color: #444;
  line-height: 1.6;
  padding-left: 0.5rem;
}

/* Pequeno ajuste visual */
.text_half {
  margin-top: 1rem;
}
