
header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 5px #eef;
    height: 10dvh;
}

.logo {
    width: 25%;
    height: 35px;
    border-bottom: 6px solid var(--Azul_escuro);
    margin-bottom: 1%;
}

/* Tratamento para visitantes */

.visit_header_container {
    width: 15%;
    margin-right: 10px;
}

.list_visit_option {
    display: flex;
    justify-content: space-evenly;
}

.list_visit_option li {
    list-style: none;
}

.list_visit_option li a {
    text-decoration: none;
}


.cadastro a {
    color: var(--Laranja_escuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: var(--Laranja_escuro);
    border: 1px solid var(--Laranja_escuro);
    padding: 1px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.login a {
    color: #fff;
}


/* Tratamento pós login */

.burguerSalas {
    border: none;
    background-color: none;
    height: 30px;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
}

.burguerSalas:hover{
    cursor: pointer;
    height: 30.5px;
    width:15.5%;
   
}

.burguerSalas div{
    height: 15%;
    width: 100%;
    color: white;
    background-color: #fff;
    box-shadow: 1px 1px 1px #999;
    border-radius: 40px;
}

.overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.4s ;
}

.overlaycontent{
    position: relative;
    top: 10%;
    left: 5%;
    width: 100%;
    margin-top: 30px;
}

.overlay #b_usuario {
    position: relative;
    left: 5%;
    top: 5%;
}

.overlay a {
    text-decoration: none;
    padding: 5px;
    color: rgba(255,255,255, 1);
    display: block;
    font-size: 24px ;
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: rgba(255,255,255, 0.5);
}

.overlay .closeBtn {
    position: relative;
    left: 5%;
    top: 1%;
    font-size: 50px;
}

.btn-logout {
    color: rgba(225,68,72, 0.7);
    width: 100%;
    font-size: 24px ;
    padding-top: 10%;
    position: relative;
    left: 40%;
}

.btn-logout:hover, .btn-logout:focus {
    color: rgba(225,68,72, 1);
    cursor: pointer;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 100px;
    border: none;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
}