/* Global */
body {
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.video-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0,0,0, 0.45);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.intro {
  display: flex;
  flex-direction: row;

}
/* Headings */
h2 {
  color: var(--Laranja_escuro);
  margin-bottom: 15px;
  font-weight: 700;
}


h3 {
  color: #1e1e2f;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 15px;
}


/* Sections */

section {
  padding: 40px 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0,0,0,0.1);
   background-color: rgba(255,255,255, 1);
}


.dicas-rapidas {
  height: 300px;
  padding: 50px
}