.form_login {
    background-image: url('../assets/img/cadastroLogin/fundoacademiaamarelo.jpg');
    opacity: 95%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100dvh;
    overflow-y: hidden;
    position: relative;
}

.redirecionar {
    color: white;

}
.redirecionar a {
    color: var(--Azul_claro);
}

.card {
    position: absolute;
    top: 2%;
    right: 8%;
    width: 50%;
    background-color: rgba(65,65,65,0.956);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--Azul_escuro);
    flex-direction: column;
    height: 90%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.54);
    border-radius: 10px;
    padding-bottom: 10px;
}

.card nav {
    align-self: flex-start;
    margin-left: 20px;
}

.card nav a {
    color: var(--Laranja_escuro);
    text-decoration: none;
    font-weight: 600;
    font-size: 50px;
}

.card nav a:hover {
    color: var(--Laranja_claro);
    transition: 20ms;
    border-radius: 20px;
    padding: 5px;

}


.card h2 {
    margin: 0;
    font-size: 30px;
}

.formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-evenly;
    flex-direction: column;
}

.formulario span {
    font-size: 15px;
    font-weight: 800;
}

.formulario input {
    border: none;
    text-align: center;
    border-radius: 10px;
    margin: 0;
}

.formulario select {
    border: none;
    background-color: white;
    color: gray;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
}

.botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: var(--Laranja_escuro);
    width: 30%;
    height: 30px;
    align-self: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao:hover {
    background-color: var(--Laranja_claro);
    transition: 1000ms;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

/* FORMULARIO */

.alerta_erro {
    display: flex;
    justify-content: flex-start;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: var(--Laranja_escuro) 1px solid;
    padding: 10px;
    margin-left: 10%;
    text-align: left;
    width: 25%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
}

.formulario {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    border: 2px solid var(--Azul_claro);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: var(--Laranja_escuro);
    width: 120px;
    align-self: center;
    margin-top: 5px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}