header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 5px #eef;
    height: 80px;
}

.logo {
    width: 15%;
    height: 35px;
    border-bottom: 3px solid black;
    margin-bottom: 1%;
}

/* Tratamento para visitantes */

.visit_header_container {
    width: 15%;
    margin-right: 10px;
}

.list_visit_option {
    display: flex;
    justify-content: space-evenly;
}

.list_visit_option li {
    list-style: none;
}

.list_visit_option li a {
    text-decoration: none;
}


.cadastro a {
    color: var(--Laranja_escuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: var(--Laranja_escuro);
    border: 1px solid var(--Laranja_escuro);
    padding: 1px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.login a {
    color: #fff;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 100px;
    border: none;
    background-color: #ddd;
}