/* curiosidades */
.curiosidade {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/assets/img/altere_duplo_sombreado.png");
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    
}
.curiosidade_organize {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: #111;
    height: 85%;
    width: 50%;
    border-radius: 20px;
 
}

.curiosidade p {
    width: 90%;
    
}

/* Pilares */
.pilar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Marrom_escuro);
    padding: 10px;
    height: 700px;
  
}
.title_pilar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
}

.itens div {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;;
}

.itens img {
    width: 100px;
    border: 1px solid var(--Marrom_claro);
    border-radius: 50px;
    padding: 30px;
    background-color: var(--Marrom_claro);
}

.itens p {
    height: 40px;
}


/* dicas */
.dica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../assets/img/mulher_box3.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
    background-color: var(--Marrom_escuro);
    height: 700px;

}

.dica_container {
    width: 45%;
    height: 650px;
    margin-right: 12%;
    border-radius: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dica_itens {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dica_itens ul {
    list-style: none;
}

.dica_itens a {
    text-decoration: none;
}


/* Prévias */

.previa {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/assets/img/altere_unico.png");
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: var(--Marrom_escuro);
}
.previa_organize {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: #222;
    height: 65%;
    width: 40%;
    border-radius: 20px;
    opacity: 85%;
    margin-left: 12%;
 
}

.previa p {
    width: 90%;
}
/* 
        <!--  Um pouco do que tem na pagina de prévias/atualizações -->
        <section class="previa">
            <h1>Previas</h1>
            <p>A musculação tem uma história fascinante! Desde os primeiros registros da Grécia Antiga, onde atletas e
                guerreiros treinavam para força e resistência, até o surgimento dos primeiros equipamentos de academia
                no século XX, esse universo evoluiu muito.</p>
            <p>Eugene Sandow, considerado o pai da musculação moderna, revolucionou a maneira como o treinamento de
                força era visto, trazendo conceitos que moldaram os treinos atuais. O crescimento do fisiculturismo,
                impulsionado por nomes lendários como Arnold Schwarzenegger, levou a musculação para um novo patamar,
                transformando-a em um estilo de vida e uma competição de alto nível.</p>
            <p> Quer conhecer mais sobre os marcos históricos, os grandes nomes e as curiosidades desse mundo? Explore
                nossa página e descubra como a musculação se tornou uma das práticas mais populares e transformadoras do
                mundo fitness!</p>


            <button onclick="page='previas'; redirecionar()">Saber mais</button>
        </section> */