/* Peças
As seguintes partes CSS estão disponíveis para estilização:

container- estilos para<div class="swiper">
wrapper- estilos para<div class="swiper-wrapper">
button-prev- estilos para o botão de navegação anterior<div class="swiper-button-prev">
button-next- estilos para o próximo botão de navegação<div class="swiper-button-next">
pagination- estilos para o contêiner de paginação anterior<div class="swiper-pagination">
bullet- estilos para o elemento de marcador de paginação
bullet-active- estilos para o elemento de marcador de paginação ativo
scrollbar- - estilos para contêiner Scrollbar<div class="swiper-scrollbar"> */

.swiper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

 
}
.swiper .slide {
    width: 90%;
    height: 85%;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-radius: 40px;

}

.swiper h3 {
    color: #fff;
}

 .swiper .swiper-jogos {
    background-image: url(../assets/img/game/Gemini_Generated_Image_27uuun27uuun27uu.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.swiper .swiper_dicas {
    background-image: url(../assets/img/global/altere_duplo_sombreado.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.swiper .swiper-segredos {
    background-image: url(../assets/img/index/explore.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.swiper .slide-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;
    height: 60%;
    width: 50%;
    background-color: #222;
    opacity: 87%;
    margin-left: 80px;
    border-radius: 20px;
}

